<div class="col-xs-12 text-center">
  <span class="anchor" id="about"></span>
  <h1 class="">About Me</h1>
</div>

<div class="col-xs-12 col-sm-6 about-picture">
  <%= image_tag("Doug_santorini.jpg", class: "img-center") %>
  <div class="shadow"></div>
</div>

<div class="col-xs-12 col-sm-6 bio">
  <p>I started programming in high school and built my first computer at age 15. In 2013, I taught myself full stack web development with the help of AppAccademy.io. I have since co-founded a Software Engineering & IT business, Ayos Informatics, LLC.</p>

  <p>Besides web development and technology, I have a passion for travel and culture, experimenting in the kitchen cooking yummy food, and taking sunday drives on my motorcycle. I love learning and exploring new things, be it trying a new programming language or discovering the culture in a new city, exploration is in my blood!</p>

</div>
