<div id="logo-nav" class="col-xs-12 row-padding">
  <div class="col-xs-12 text-center">
    <figure id="logo" class="logo">
      <span class="anchor" id="welcome"></span>
      <%= link_to root_path(anchor: "welcome"), class: "anchored", data: {anchor: "#welcome"} do %>
        <img class="site-logo" src="<%= image_url("douglas_teixeira_logo_298x59.png") %>" alt="Douglas Teixeira">
      <% end %>
      <figcaption id="site-slogan">You should <strong>hire me</strong>.</figcaption>
    </figure>
  </div>

  <div class="col-xs-12">
    <div class="overlay"></div>
     <%= image_tag("douglas-teixeira_200x200.jpg", class: "avatar img-circle") %>
  </div>

  <%= render partial: "pages/social_links", locals: {render_title: true} %>
</div>