<div class="col-xs-12 row-padding welcome text-center">
  <h1>Let's work together!</h1>

  <p>Hi I'm Doug Teixeira, a software engineer and IT consultant based in New Jersey.</p>
  <p>I'm looking for full-time work as a web developer.</p>
  <p>I specialize in Ruby on Rails, JavaScript, Backbone.js, jQuery, SQL, HTML, and CSS.</p>
  <p>I also offer Health IT consulting and SEO consulting services. Contact me to see how I can help you!</p>
  <%= render "pages/skills" %>
</div>
