<div class="col-xs-12">
  <div class="page-header text-center">
    <h1>Asteroids: <small>(&#8593 &#8595 &#8592 &#8594 & space keys for controls)</small></h1>
  </div>
  
  <div class="col-xs-12">
    <canvas class="asteroids-canvas" width="500" height="500" style="margin: auto;"></canvas>
  </div>

</div>

<script type="application/javascript">
//   $(function() {
//
//    var view = new SnakeUI.View($('.grid'), 20, 20);
//    view.start();
// });

  $(document).on('page:change', function(root) {
    var canvas = document.getElementsByTagName("canvas")[0];
    var ctx = canvas.getContext('2d');
    var game = new Asteroids.Game(ctx);
    game.start(); 
  });
</script>
