<div class="col-xs-12 col-sm-6">
  <li class="list-item-group picture">
    <figure class="figure">
      <% #image_tag(project.pictures.first.image, alt: project.title) %>
      <%= image_tag(@picture.image.url, alt: @picture.title) %>
      <figcaption>
        <h3>
          <%= link_to "Edit #{@picture.title}", edit_picture_url(@picture), target: "" %> 
        </h3>
      </figcaption>
    </figure>
  </li>
</div>